
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --border: #000000;
    --code-bg: #1f2028;
  }
}

body {
  background: url('./assets/wall.gif') center/cover no-repeat fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  background: rgba(20, 20, 20, 0.02);

  z-index: 0;
}

#root,
.wrapper,
.card {
  position: relative;
  z-index: 1;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

code {
  font-family: monospace;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 4px;
  background: var(--code-bg);
}